@charset "utf-8";
    /* CSS Document */
body, p{
    margin: 5px 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    text-align: justify;
}

body{
    margin: 0 auto 100px;
    padding: 0;
    color: #312A16;
    background-color: #FEFEFD;
}

#header-background-simple-gradient{
    background-image:url('../images/header_bg.gif');
    background-repeat: repeat-x;
    height: 60px;
    background-attachment: fixed;
}

#header{
    height: 60px;
}

.logo{
    width: 14%;
    padding: 0px 20px;
    float: left;
}

.logo img{
    height: 60px;
    width: 134px;
	border: 0;
}

.header-top{
    height: 30px;
    float: left;
    width: 80%;
}

.header-top-left{
    background-color: #EFEFEF;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    border-right: 1px solid;
    display: block;
    height: 15px;
    margin: 0;
    border-color: #BBBBBB;
    padding: 4px 10px 4px 10px;
    float: left;
}

.header-top-left ul{
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    display: block;
}

.header-top-left ul a:link, .header-top-left ul a:visited, .header-top-left ul a:hover{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    background: none;
    color: #246197;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.header-top-left li{
    margin: 0;
    padding: 0 2px;
    border: 0;
    display: block;
    float: left;
    position: relative;
    z-index: 5;
    background: none;
    color: #246197;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.header-top-left ul li img{
    padding: 0 3px;
}

.header-top-right{
    background-color: #EFEFEF;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    border-right: 1px solid;
    display: block;
    height: 15px;
    margin: 0;
    border-color: #BBBBBB;
    padding: 4px 10px 4px 10px;
    float: right;
}

.header-top-right ul{
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    display: block;
}

.header-top-right ul a:link, .header-top-right ul a:hover, .header-top-right ul a:visited{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    background: none;
    color: #246197;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.header-top-right li{
    margin: 0;
    padding: 0 2px;
    border: 0;
    display: block;
    float: left;
    position: relative;
    z-index: 5;
    background: none;
    color: #246197;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.header-top-right ul li img{
    padding: 0 3px;
}

.header-bottom{
    height: 30px;
    float: left;
    width: 80%;
}

.header-bottom-left{
    display: block;
    height: 25px;
    border-color: #BBBBBB;
    margin-top: 4px;
    padding: 6px 10px 0;
    float: left;
}

.header-bottom-left ul{
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    display: block;
}

.header-bottom-left li{
    background-color: #EFEFEF;
    border-color: #868686;
    border-left: 1px solid #868686;
    border-radius: 4px 4px 0 0;
    border-right: 1px solid #868686;
    border-top: 1px solid #868686;
    color: #868686;
    display: block;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: 0 2px;
    padding: 3px 5px;
    position: relative;
    z-index: 5;
}

.header-bottom-left li a:link, .header-bottom-left li a:visited, .header-bottom-left li a:hover, .header-bottom-left li a:active{
    color: #868686;
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

.header-bottom-left ul li img{
    padding: 0 3px;
}

.header-bottom-right{
    background-color: #EFEFEF;
    border-color: #868686;
    border-left: 1px solid #868686;
    border-radius: 4px 4px 0 0;
    border-right: 1px solid #868686;
    border-top: 1px solid #868686;
    color: #868686;
    height: 16px;
    float: right;
    margin-top: 9px;
    padding: 3px 10px 0;
    color: #246197;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

#status-bar{
    background-image: url('../images/bluebg.gif');
    background-repeat: repeat-x;
    height: 20px;
}

.subtitle
{
	background-image: url("../images/imgsubtittle.gif");
    background-position: 6px bottom;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 18px;
    margin-left: 13px;
    padding: 0 26px;
}

.details{
    height: 30px;
    font-size: 11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    padding: 7px 14px;
    background-color: #FAFAFA;
    border: 1px solid #DCDCDC;
    margin: 3px;
}

.details-subhead{
    color: #006699;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 15px;
}

#footer{
    background-color: #EBEBEB;
    bottom: 0;
    height: 23px;
    padding: 0 20px;
    position: fixed;
    right: 0;
    width: 100%;
}

#footer p{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    text-align: right;
    margin: 5px 0;
}

/* Tabs styes start Here */
/**{
    margin:0;
    padding:0;
    list-style:none;
    border:none;
}*/

div.domtab{
    padding:0 3em;
    font-size:90%;
}

ul.domtabs{
    float:left;
    margin:2em 0 0 0;
    height: 20px;
	list-style: none;
}

ul.domtabs li{
    float:left;
    padding:0 .5em 0 0;
}

ul.domtabs a:link,ul.domtabs a:visited,ul.domtabs a:active,ul.domtabs a:hover{
    padding:.2em 1em;
    display:block;
    background:#ECF7FD;
    color:#2E4A8A;
    font-weight:bold;
    text-decoration:none;
    border-left: 1px solid #C1D9FF;
    border-right: 1px solid #C1D9FF;
    border-top: 1px solid #C1D9FF;
	font-size: 11px;
}

html>body ul.domtabs a:link,html>body ul.domtabs a:visited,html>body ul.domtabs a:active,html>body ul.domtabs a:hover{
    height:auto;
    min-height: 15px;
}

ul.domtabs a:hover{
    background: #ECF7FD;
}

div.domtab div{
    clear:both;
    width:auto;
    background:#FFFFFF;
    color:#000;
    padding: 0 2em 2em;
    border-bottom: 1px solid #BCD2E6;
    border-left: 1px solid #BCD2E6;
    border-right: 1px solid #BCD2E6;
    border-top: 1px solid #BCD2E6;
}

ul.domtabs li.active a:link,ul.domtabs li.active a:visited,ul.domtabs li.active a:active,ul.domtabs li.active a:hover{
    background:#C1D9FF;
    color:#2E4A8A;
    border-top: 1px solid #BCD2E6;
    border-left: 1px solid #BCD2E6;
    border-right: 1px solid #BCD2E6;
	font-size: 11px;
}

#domtabprintview{
    float:right;
    padding-right:1em;
    text-align:right;
}

#domtabprintview a:link,#domtabprintview a:visited,#domtabprintview a:active,#domtabprintview a:hover{
    color:#fff;
}

div.domtab div a:link,div.domtab div a:visited,div.domtab div a:active{
    color:#fff;
    display:block;
    padding:1em .5em;
    font-weight:bold;
    font-size:1.3em;
}

div.domtab div h2 a,div.domtab div h2 a:hover,div.domtab div h2 a:active{
    color: #006699;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 15px;
}

/* other scheme! */
#other{
    font-size:.8em;
    margin-left:.3em;
    width:60em;
    margin-bottom:3em;
    float:left;
}

div#other.domtab div{
    clear:both;
    width:54em;
    background:#669;
    color:#fff;
    padding:1em 3em;
}

#other ul.domtabs a:hover{
    background:#669;
}

div#other ul.domtabs li.active a:link,div#other ul.domtabs li.active a:visited,div#other ul.domtabs li.active a:active,div#other ul.domtabs li.active a:hover{
    background:#669;
    color:#fff;
}

#other div{
    float:left;
}

ul.prevnext{
    float:left;
    width:100%;
}

ul.prevnext li{
    float:left;
    width:49%;
}

ul.prevnext li.next{
    float:right;
    text-align:right;
}

/* table Styles Start Here */

td {
    font-family: verdana;
    font-size: 8pt;
	border: 0;
}

.personal
{
color: #000000;
background-color: #FFFFFF;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
}

input {
    border-color: #5A85A9;
    border-right: 1px solid #5A85A9;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font-family: verdana;
    font-size: 8pt;
}

select {
    border-color: #5A85A9;
    border-right: 1px solid #5A85A9;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font-family: verdana;
    font-size: 8pt;
}

.button
{
	background-color: #B3EBFF;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}

 #message_box { 
       position: absolute; 
       top: 0; bottom: 0; 
       z-index: 10; 
	   background:#ffc;
	   padding:5px;
       border:1px solid #CCCCCC;
       text-align:center; 
       font-weight:bold; 
       height:30%;
	   color: #0A9817;
	   width: 150px;
	   right: 0;
	   margin-top: 209px;
      }
      