/*1303151662,176820408*/

.ego_contact_importer .contact_importer_widget .ci_submit_container
.ci_submit_button{float:none}
.ego_contact_importer .contact_importer_widget .ci_submit_container
.ci_ego_link_button input{font-weight:bold}
.contact_importer_widget.ci_webmail .lhs_logo_class{float:left;margin:0 10px 0 0}
.contact_importer_widget.ci_webmail .unsupported_email{width:275px}
.dialog_body .supported_domains ul li{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v1/z_/r/6bMU2qD4HfX.gif) 0 7px no-repeat;padding:2px 0 0 11px;margin:0 0 0 6px;color:#666;font-weight:normal}
.dialog_body .supported_domains ul li{margin:0 0 0 2px}
.dialog_body .supported_domains{width:420px;height:220px;overflow:auto;display:block;position:relative;z-index:30}
.dialog_body .supported_domains:before{content:""}
.dialog_body p.domain_description{padding-bottom:11px;margin-bottom:9px;border-bottom:1px solid #ccc}
.contact_importer_widget.ci_webmail .unsupported .unsupported_email{display:block}
.contact_importer_widget.ci_webmail .unsupported .disclaimer,
.contact_importer_widget.ci_webmail .unsupported_email,
.contact_importer_widget.ci_webmail .unsupported .ci_submit_container,
.contact_importer_widget.ci_webmail .api .disclaimer{display:none}
.contact_importer_widget.ci_webmail .waiting .ci_login{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/zb/r/GsNJNwuI-UM.gif) 210px center no-repeat;background-color:#fff}
.ego_contact_importer .contact_importer_widget.ci_webmail .valid .ci_login,
.ego_contact_importer .contact_importer_widget.ci_webmail .api .ci_login{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/z9/r/Ar6K0o_04bw.gif) 210px center no-repeat;background-color:#fff}
.ego_contact_importer .contact_importer_widget.ci_webmail .unsupported .ci_login{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/zA/r/NS2OPUfKoJa.gif) 210px center no-repeat;background-color:#fff}
.contact_importer_widget.ci_webmail .ci_login.ci_typeahead,
.contact_importer_widget.ci_webmail .ci_typeahead_login_container{width:234px}
.contact_importer_widget.ci_webmail .ci_typeahead_login_container .selected
.ci_typeahead{background-color:#fff}
#conf_code_input input{width:70px}
.securityq_prompt{padding-bottom:12px}
.uiP{line-height:16px}
.uiPLarge{line-height:18px}

#bootloader_Vry6t { height: 42px; }